body {
    background: url("back-site.jpg");
    opacity: 3;
    font-style: bold;
    font-family: fantasy;
}

p {

}

/*.sitebar-content > ul > li:hover {
    position: relative;
    color: rgb(69, 36, 121);
    cursor: pointer;
}*/


ul {
    font-size: 18px;
}

/*ul.submenu {
    position: absolute;
    list-style-type:none;
    width: 170px;
    font-size: 13px;
    padding-left: 1px;
    display: none;
    border: 0.5px solid black;
}*/

/*ul.submenu li {
    padding-top: 2px;
    padding-bottom: 2px;
}*/

/*.sitebar-content li:hover .submenu {
    cursor: pointer;
    display: block;
    position: relative;
    color: black;
} */
